<!DOCTYPE html>
<html ng-app="myApp">
    <head ng-controller="ConnectionController">
        <meta charset="utf-8">
        <link rel="shortcut icon" id="favicon" href="{{(isConnected) && 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA1BMVEXC0V4hofdZAAAADElEQVQImWNgIA0AAAAwAAFDlLdnAAAAAElFTkSuQmCC ' || 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA1BMVEWNjY1Ts6ySAAAADElEQVQImWNgIA0AAAAwAAFDlLdnAAAAAElFTkSuQmCC'}}" />
        <title ng-cloak>logr</title>
        <link rel="stylesheet" href="/public/css/ngapp.css" />
    </head>
    <body>
        <table class="table" ng-controller="CommitsController" ng-cloak>
            <thead>
                <tr>
                    <th 
                        ng-click="predicate=['type', '-revision'];" 
                        class="simlink"
                        ><span class="order">{{(reverse) && '&uarr;'|| '&darr;'}} </span>Type</th>
                    <th>Message</th>
                    <th
                        ng-click="predicate=['branch', '-revision'];" 
                        class="simlink"
                        ><span class="order">{{(reverse) && '&uarr;'|| '&darr;'}} </span>Branch</th>
                    <th 
                        ng-click="predicate=['author', '-revision'];" 
                        class="simlink"
                        ><span class="order"></span>Author</th>
                    <th>Date</th>
                    <th 
                        ng-click="predicate='-revision';" 
                        class="simlink {{(predicate == '-revision') && 'currentOrder ' || ''}}"
                        ><span class="order">{{(reverse) && '&darr;' || '&uarr;'}} </span>Rev</th>
                </tr>
            </thead>
            <tbody>
                <tr class="revision" ng-repeat="commit in commits | orderBy:predicate:reverse | limitTo:100">
                    <td class="text-right"><span class="label {{ commit.type }}">{{ commit.type }}</span></td>
                    <td>
                        <p ng-click="expand = !expand">{{ commit.msg }}</p>
                        <ul class="paths" ng-class="{true: 'paths-visible', false: ''}[expand]">
                            <li ng-repeat="path in commit.paths">{{ path.path }}</li>
                        </ul>
                        
                    </td>
                    <td class="muted">{{ commit.branch }}</td>
                    <td class="muted">{{ commit.author }}</td>
                    <td class="nowrap muted">{{ commit.dateFromNow }}</td>
                    <td class="muted">{{ commit.revision }}</td>
                </tr>
                
            </tbody>
        </table>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/public/js/ngapp.js"></script>
    </body>
</html>