<!DOCTYPE html>
<html ng-app="myApp">
    <head ng-controller="ConnectionController">
        <meta charset="utf-8">
        <link rel="shortcut icon" id="favicon" href="{{(isConnected) && 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA1BMVEXC0V4hofdZAAAADElEQVQImWNgIA0AAAAwAAFDlLdnAAAAAElFTkSuQmCC ' || 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA1BMVEWNjY1Ts6ySAAAADElEQVQImWNgIA0AAAAwAAFDlLdnAAAAAElFTkSuQmCC'}}" />
        <title ng-cloak>logr</title>
        <link rel="stylesheet" href="/public/css/ngapp.css" />
    </head>
    <body>
        <table class="table" ng-controller="CommitsController" ng-cloak>
            <thead>
                <tr>
                    <th><input type="text" class="input-mini" ng-model="search.type" placeholder="Type" /></th>
                    <th><span class="title">Message</span></th>
                    <th><input type="text" class="input-small" ng-model="search.branch" placeholder="Branch" /></th>
                    <th><input type="text" class="input-small" ng-model="search.author" placeholder="Author" /></th>
                    <th><span class="title">Date</span></th>
                    <th><span class="title">&uarr; Rev</span></th>
                </tr>
            </thead>
            <tbody>
                <tr class="revision" ng-repeat="commit in commits | orderBy:predicate:reverse | filter:search | limitTo:200">
                    <td class="text-right"><span class="label {{ commit.type }}">{{ commit.type }}</span></td>
                    <td>
                        <p ng-click="expand = !expand">{{ commit.msg }}</p>
                        <ul class="paths" ng-class="{true: 'paths-visible', false: ''}[expand]">
                            <li ng-repeat="path in commit.paths">{{ path.path }}</li>
                        </ul>
                        
                    </td>
                    <td class="muted">{{ commit.branch }}</td>
                    <td class="muted">{{ commit.author }}</td>
                    <td class="nowrap muted">{{ commit.dateFromNow }}</td>
                    <td class="muted">{{ commit.revision }}</td>
                </tr>
                
            </tbody>
        </table>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/public/js/ngapp.js"></script>
    </body>
</html>