<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <title>logr</title>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/main.css" />
    </head>
    <body>
        <table class="table" ng-controller="CommitsController" ng-cloak>
            <thead>
                <tr>
                    <th 
                        ng-click="predicate='type';reverse=!reverse" 
                        class="simlink {{(predicate == 'type') && 'currentOrder ' || ''}}"
                        ><span class="order">{{(reverse) && '&uarr;'|| '&darr;'}} </span>Type</th>
                    <th>Message</th>
                    <th 
                        ng-click="predicate='author';reverse=!reverse" 
                        class="simlink {{(predicate == 'author') && 'currentOrder ' || ''}}"
                        ><span class="order">{{(reverse) &&  '&uarr;'|| '&darr;'}} </span>Author</th>
                    <th>Date</th>
                    <th 
                        ng-click="predicate='-revision';reverse=!reverse" 
                        class="simlink {{(predicate == '-revision') && 'currentOrder ' || ''}}"
                        ><span class="order">{{(reverse) && '&darr;' || '&uarr;'}} </span>Rev</th>
                </tr>
            </thead>
            <tbody>
            
                <tr class="revision" ng-repeat="commit in commits | orderBy:predicate:reverse | limitTo:100">
                    <td><span class="label {{ commit.type }}">{{ commit.type }}</span></td>
                    <td>{{ commit.msg }}</td>
                    <td>{{ commit.author }}</td>
                    <td class="nowrap">{{ commit.date }}</td>
                    <td>{{ commit.revision }}</td>
                </tr>
                
            </tbody>
        </table>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
        <script src="/static/main.js"></script>
    </body>
</html>