
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none!important;}

    .revision {
        animation: fadein 2s;
        -moz-animation: fadein 2s; /* Firefox */
        -webkit-animation: fadein 2s; /* Safari and Chrome */
    }
    @keyframes fadein {
        from { background-color: #dff0d8; }
        to { background-color: inherit; }
    }
    @-moz-keyframes fadein { /* Firefox */
        from { background-color: #dff0d8; }
        to { background-color: inherit; }
    }
    @-webkit-keyframes fadein { /* Safari and Chrome */
        from { background-color: #dff0d8; }
        to { background-color: inherit; }
    }
    
    .revision:hover {background-color: #eff1c2;}
    
    .revision p {margin: 0; cursor: pointer;}
    
    .bugfix { background-color: #999999; }
    .feature { background-color: #468847; }
    .optim,
    .refactoring { background-color: #3a87ad; }
    .merge { background-color: #333333; }
    .revert { background-color: #f89406; }
    
    .simlink {cursor: pointer;}
    .simlink:hover,
    .currentOrder {background-color: #eee;}
    .order {display: none;}
    .currentOrder .order {display: inline;}
    
    .paths {font-size: x-small; margin: 0; padding-top: 5px; list-style: none; cursor: text; display: none;}
    .paths-visible { display: block; }
    .paths li {padding: 0; margin: 0;}
    
    .nowrap { white-space: nowrap; }
    
    @media only screen and (max-width: 800px) {
    	table td:nth-child(4), 
    	table th:nth-child(4),
    	table td:nth-child(5), 
    	table th:nth-child(5) {display: none;}
    }
    
    @media only screen and (max-width: 640px) {
        table td:nth-child(1), 
    	table th:nth-child(1){display: none;}
    }
